version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped

  api:
    build: .
    container_name: fastapi-app
    ports:
      - "8005:8005"
    depends_on:
      - qdrant
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    command: uvicorn main:app --host 0.0.0.0 --port 8005 --loop asyncio
    restart: unless-stopped